<div class="border">
<h1 class="text-capitalize text-center p-2 bg-white mx-auto w-75 my-5 d-none d-sm-block text-warning fw-bold">
    about us page!!!
</h1>

<a href="/" class="btn btn-success m-4 text-center ms-auto">Home</a>

</div>